{
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "endOfLine": "lf",
  "insertPragma": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "requirePragma": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
